
@font-face {
  font-family: Nunito;
  src: url(font/Nunito-Light.woff);
}

* {
  margin:0;
  padding:0;
  border:0;
}

body {
  background: black;
  font-family: "Nunito", sans-serif;
	color:black;
}

canvas {
  display: inline-block;
	width: 50%;
  float: right;
  height: 100vh;
}

.text-input {
  width: 50%;
  display: inline-block;
  float: left;
  height: 100vh;
  background: white;
}

input {
  color: black;
  width: 98%;
  height: 98%;
  margin: 1%;
}

.button-input {
  
}

video, audio
{
  display: none;
}

a {
  color: white;
}

p {
  padding: 10px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  margin: auto;
}

.hide {
  visibility: hidden;
  position: absolute;
}